#navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  border-bottom: 0.5px solid #ac6d40;
  padding: 0.4rem 0;
}

.mood-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fffdfb;
  border: 0.33px solid #807266;
  border-radius: 12px;
  padding: 20px 12px;
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.08));
  font-size: 14px;
  width: fit-content;
}

.mood-card-container > img {
  height: 48px;
  width: 48px;
  margin-bottom: 10px;
}

.mood-card-title {
  width: 86px;
  text-align: center;
}

h1 {
  font-family: "Instrument Serif", serif;
  line-height: 1.2;
  font-size: 60px;
  margin: 0;
}

#landing-header {
  text-align: center;
  margin: 4rem 0;
}

.icon {
  transform: translateY(2px);
}

.cards-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#input-container {
  width: 100%;
}

#input-container > input {
  width: 100%;
  padding: 12px 16px;
  border: 0.5px solid #807266;
  border-radius: 8px;
  font-size: 16px;
  background-color: #fffdfb;
  color: #978778;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

button#form-submit {
  position: absolute;
  background-color: #ef7000;
  right: 85px;
  transform: translateY(10%);
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  border-radius: 4px;
}
